<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youtube playlist saver</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
            crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-auto">
                <a title="Original: YouTube Vector:  Jarould, Public domain, via Wikimedia Commons">
                    <img width="128" alt="YouTube full-color icon (2017)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/512px-YouTube_full-color_icon_%282017%29.svg.png">
                </a>
            </div>
            <div class="col">
                <p class="display-2">Playlist saver</p>
            </div>
        </div>
        <div class="row m-5"></div>
        <div class="row mt-5 mb-4 ms-2">
            <div class="col-auto pe-1 vertical-center-content">
                <i class="bi bi-check text-success h1 playlists-save-status-icon"></i>
            </div>
            <div class="col ps-0 pt-2">
                <p class="playlists-save-status-text"><%= playlists.length %> playlists saved.</p>
            </div>
        </div>
        <div class="row mb-5 pb-5">
            <div class="col-auto ms-3">
                <div class="row">
                    <div class="col-auto">
                        <% for (var i = 0; i < Math.ceil(playlists.length / 2); i++) { %>
                            <div class="row mt-2 border rounded shadow-sm">
                                <div class="col-auto me-1 playlist-title-column">
                                    <p class="m-2 playlist-title-text">
                                        <% if (playlists[i].title.length > 25) { %>
                                            <%= playlists[i].title.substring(0, 21) + ' ...' %>
                                        <% } else { %>
                                            <%- playlists[i].title.padEnd(30, '\u00A0') %>
                                        <% } %>
                                    </p>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col pe-2">
                                            <div class="me-0 float-end playlist-items-div">
                                                <p class="m-2 ms-3 me-0 playlist-title-text"><%- playlists[i].itemsCount %></p>
                                            </div>
                                        </div>
                                        <div class="col-auto ps-0 playlist-items-icon-column">
                                            <i class="bi bi-list-ul playlist-items-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-auto ms-4">
                        <% for (var i = Math.ceil(playlists.length / 2); i < playlists.length; i++) { %>
                            <div class="row mt-2 border rounded shadow-sm">
                                <div class="col-auto me-1 playlist-title-column">
                                    <p class="m-2 playlist-title-text">
                                        <% if (playlists[i].title.length > 25) { %>
                                            <%= playlists[i].title.substring(0, 21) + ' ...' %>
                                        <% } else { %>
                                            <%- playlists[i].title.padEnd(30, '\u00A0') %>
                                        <% } %>
                                    </p>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col pe-2">
                                            <div class="me-0 float-end playlist-items-div">
                                                <p class="m-2 ms-3 me-0 playlist-title-text"><%- playlists[i].itemsCount %></p>
                                            </div>
                                        </div>
                                        <div class="col-auto ps-0 playlist-items-icon-column">
                                            <i class="bi bi-list-ul playlist-items-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>